<% layout('layouts/default') %>
<div class="row">
    <h2><%=title%>
    	<div class="pull-right">
        	<a href="/students/add" class="btn btn-lg btn-primary">Add</a>
    	</div>
    </h2>
</div>
<div class="row">
	<hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
        	<% if(rows.length){
        	   	for (var key in rows) {
        	%>
            <tr>
                <td><%=rows[key].id%></td>
                <td><%=rows[key].name%></td>
                <td><%=rows[key].email%></td>
                <td><%=rows[key].city%></td>
            </tr>
            <%
                }
               }
            %>
        </tbody>
    </table>
</div>